//? Body
$primary: (
  "color": #007bff,
  "hover": #006fe6,
  "disabled": #0059b8,
  "outlined": #ffffff8a,
);

//? Text
$text: (
  "white": #fff,
  "black": #1a1a1a,
);

$border-color: (
  "focused": #a0a0a0,
  "disabled": #ccc,
  "color": #dcdcdc,
);

