<div
  class="window"
  cdkDrag
  (mousedown)="bringToFront()"
  [ngStyle]="{
    width: window.width + 'rem',
    'max-width': window.width + 'rem',
    height: window.height + 'rem',
    'max-height': window.height + 'rem'
  }"
>
  <div class="control">
    <div class="window-info">
      <img
        [src]="'http://localhost:' + window.port + '/assets/' + window.icon"
        alt=""
      />
      <div class="title">{{ window.title }}</div>
    </div>
    <div class="actions">
      <div
        class="minimize"
        *ngIf="window.isMinimizable && !window.isModal"
      ></div>
      <div
        class="maximize"
        *ngIf="window.isMaximizable && !window.isModal"
      ></div>
      <div
        class="close"
        *ngIf="window.isClosable || window.isModal"
        (click)="closeWindow()"
      ></div>
    </div>
  </div>
  <iframe
    class="content"
    [src]="'http://localhost:' + window.port | safeUrl"
  ></iframe>
</div>
